body {
    padding-top: 50px;
    height:100%;
}

#stations {
    padding-right: 0;
}

.map-col {
    height: 100%;
    padding:0;
}

#map { position:absolute;
        top:0;
        bottom:0;
        width: 100%;
        height: 800px;
        padding: 0;
}

.mapboxgl-marker{
    background-image: url("/img/logo_bbicing_orig.svg");
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}