body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
#map { position:absolute; top:0; bottom:0; width:100%; }

.mapboxgl-marker{
    background-image: url("/img/logo_bbicing_orig.svg");
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}


