{% extends 'base.html.twig' %}


{% block navbar %}
    <p class="navbar-text">Stations :{{ tot_stations }}</p>
    <p class="navbar-text">Slots :{{ tot_slots }}</p>
    <p class="navbar-text">bikes :{{ tot_bikes }}</p>
    <p class="navbar-text">Updated at :{{ updateTime }}</p>


{% endblock %}
{% block body %}
    <div class="container">

        <div class="row">

            <div class="col-xs-12 col-md-12">

                {% include ':bcning:stations.html.twig' %}
            </div>

        </div>

    </div>
{% endblock %}