<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Bcning</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">

                {% block navbar %}{% endblock %}

        </div><!--/.nav-collapse -->
    </div>
</nav>
